In [1]:
import pandas as pd
from glob import glob
from tqdm import tnrange, tqdm_notebook

In [2]:
path = '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/'

In [3]:
current = pd.read_csv(path + 'data/primaryMarketNotes_browseNotes_1-RETAIL.csv')

In [4]:
current.shape

(58, 122)

In [5]:
files = glob(path + 'data/Loan*.csv')

In [6]:
files

['/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2019Q1.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2018Q4.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2018Q3.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2018Q2.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2018Q1.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2016Q3.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2016Q2.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2016Q1.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2016Q4.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats3d.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2017Q1.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2017Q3.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2017Q2.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats3b.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats3c.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats3a.csv',
 '/Users/ridleyleisy/Documents/lambda/unit_two/DS-Unit-2-Classification-2/data/LoanStats_2017Q4.csv']

In [7]:
def a_to_d_done(df):
    a_to_d = df['grade'].isin(['A','B','C','D'])
    done = df['loan_status'].isin(['Fully Paid','Charged Off'])
    return a_to_d & done

In [10]:
dfs = (pd.read_csv(file,skiprows=1,skipfooter=2, engine='python').where(a_to_d_done).dropna(subset=['grade','loan_status']) for file in tqdm_notebook(files))

HBox(children=(IntProgress(value=0, max=17), HTML(value='')))

In [11]:
dfs

In [12]:
df = pd.concat(dfs)

In [12]:
df = pd.read_csv(path + '/master_df.csv')

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (20,56,113,124,125,126,129,130,131,134,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,7,NaN,NaN,10000.0,10000.0,10000.0,60 months,12.40%,224.48,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,51,NaN,NaN,15000.0,15000.0,15000.0,60 months,17.97%,380.66,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,80,NaN,NaN,35000.0,35000.0,35000.0,60 months,13.08%,797.80,B,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,135,NaN,NaN,17500.0,17500.0,17500.0,36 months,17.19%,625.58,C,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,146,NaN,NaN,13750.0,13750.0,13750.0,36 months,28.80%,574.71,D,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
historical, _ = train_test_split(df.copy(), train_size=0.20, 
                             stratify=df['loan_status'])

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [16]:
historical.to_csv('historical.csv', index=False)

In [17]:
common_columns = set(historical.columns) & set(current.columns)
just_historical = set(historical.columns) - set(current.columns)
just_current = set(current.columns) - set(historical.columns)

In [19]:
common_columns

{'acc_now_delinq',
 'acc_open_past_24mths',
 'addr_state',
 'all_util',
 'annual_inc',
 'annual_inc_joint',
 'application_type',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'collections_12_mths_ex_med',
 'delinq_2yrs',
 'delinq_amnt',
 'desc',
 'dti',
 'dti_joint',
 'earliest_cr_line',
 'emp_length',
 'emp_title',
 'funded_amnt',
 'grade',
 'home_ownership',
 'id',
 'il_util',
 'initial_list_status',
 'inq_fi',
 'inq_last_12m',
 'inq_last_6mths',
 'installment',
 'int_rate',
 'loan_amnt',
 'max_bal_bc',
 'member_id',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_last_delinq',
 'mths_since_last_major_derog',
 'mths_since_last_record',
 'mths_since_rcnt_il',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'open_acc',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'open_rv_12m',
 'open_rv_24m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec',
 'pub_rec_bankruptcies',
 'purpose',
 'revol_bal',
 'revol_bal_joint',
 'revol_util',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_mths_since_last_major_derog',
 'sec_app_num_rev_accts',
 'sec_app_open_acc',
 'sec_app_open_act_il',
 'sec_app_revol_util',
 'sub_grade',
 'tax_liens',
 'term',
 'title',
 'tot_coll_amt',
 'tot_cur_bal',
 'tot_hi_cred_lim',
 'total_acc',
 'total_bal_ex_mort',
 'total_bal_il',
 'total_bc_limit',
 'total_cu_tl',
 'total_il_high_credit_limit',
 'total_rev_hi_lim',
 'url',
 'zip_code'}